 * {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

:root {
    --header-height: 125px;
}

/*top bar*/
.header {
    background-color: red;
    color: white;
    padding-left: 30px;
    height: var(--header-height);
}

h1 {
    display: inline-block;
    position: relative;
    top: 10px;
    width: fit-content;
    font-size: 4rem;
}
#characters {
    display: inline-flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.character {
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;
}

.character > img {
    aspect-ratio: 1;
    height: 80px;
    border-bottom: 1px solid black;
}

.character > p {
    margin-top: 0;
    color: black;
    text-align: center;
}

.found {
    opacity: 0.5;
}

/*game board styling*/
#boardContainer {
    width: fit-content;
    height: fit-content;
}

#board {
    position: relative;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

.boardImage {
    width: 2000px;
}

/*select found character popup*/
.popup {
    position: absolute;
    cursor: pointer;
}

.target {
    font-size: 4rem;
    background-color: none;
    color: rgb(0, 217, 255);
}

.selectContainer {
    border-radius: 2px;
    border: 2px solid red;
}

.select {
    font-size: 1.5rem;
    padding: 2px;
    background-color: white;
}

.select:hover {
    background-color: red;
    color: white; 
}

/*start game button*/
.start {
    background-color: red;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.start:hover {
    background-color: white;
    color: red;
}

/*win screen*/
.win {
    background-color: red;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.small {
    font-size: 1.3rem;
}

.leaderboardForm > button {
    background-color: white;
    color: red;
    border: 2px solid white;
    font-weight: bold;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.leaderboardForm > input {
    border: 2px solid white;
    border-right: 1px solid red;
    font-size: 1.2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.leaderboardForm > button:hover{
    background-color: red;
    color: white;
}

.restart {
    background-color: white;
    color: red;
    font-size: 1.2rem; 
    border: 2px solid white;
    border-radius: 5px;
}

.restart:hover {
    background-color: red;
    color: white;
}

/*leaderboard*/
.leaderboardContainer {
    background-color: red;
    color: white;

    position: absolute;
    
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);

    font-size: 3rem;

    height: 400px;
    padding: 10px;

    border-radius: 10px;
}

.startscreen {
    top: 25%;
}

.endscreen {
    top: 50%;
}

.leaderboardContainer > h2 {
    height: 80px;
}

.leaderboard {
    font-size: 2rem;
    height: calc(100% - 100px);
    overflow-y: auto;
    background-color: white;
    color: red;
    border-radius: 10px;
}

.row {
    border-bottom: 1px solid red;
    margin-right: 5px;
    margin-left: 5px;
}

.row > p {
   display: inline-block; 
}

.place {
    width: 35px;
}

.place::after {
    content: "."
}

.name {
    width: 290px;
}

@media screen and (max-width: 804px) {
    :root {
        --header-height: 200px;
    }
    
    .win {
        font-size: 2rem;
        top: 26%;
        padding: 5px;
        width: 350px;
    }
    
    .small {
        font-size: 1rem;
    }
    
    .leaderboardForm > button {
        font-size: 1rem;
    }
    
    .leaderboardForm > input {
        font-size: 1rem;
    }
    
    .restart {
        font-size: 1rem; 
    }

    .leaderboardContainer {
        height: 360px;
    }
    
    .leaderboardContainer > h2 {
        height: 70px;
    }
    
    .endscreen {
        top: 52%;
    }
}

@media screen and (max-width: 525px) {
    h1 {
        font-size: 2.8rem;
    }
    
    .leaderboardContainer {
        font-size: 2rem;
        height: fit-content;
    }

    .leaderboard {
        font-size: 1.4rem;
    }

    .name {
        width: 200px;
    }

    .place {
        width: 20px;
    }

    .startscreen {
        top: 22%;
    }
    
    

    .start {
        top: 2%;
    }

    
}
