 * {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

/*top bar*/
.header {
    background-color: red;
    color: white;
    padding-left: 30px;
    height: var(--header-height);
}

h1 {
    display: inline-block;
    position: relative;
    top: 10px;
    width: fit-content;
    font-size: 4rem;
}
#characters {
    display: inline-flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.character {
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;
}

.character > img {
    aspect-ratio: 1;
    height: 80px;
    border-bottom: 1px solid black;
}

.character > p {
    margin-top: 0;
    color: black;
    text-align: center;
}

.found {
    opacity: 0.5;
}

/*game board styling*/
#boardContainer {
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

#board {
    position: relative;
    width: calc(100vw - 60px);
    height: calc(100vh - 200px);
    overflow: auto;
}

.boardImage {
    width: 2000px;
}

/*select found character popup*/
.popup {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.select {
    font-size: 1.5rem;
    padding: 2px;
}

.select:hover {
    background-color: red;
    color: white; 
}

/*start game button*/
.start {
    background-color: red;
    border: none;
    border-radius: 20px;
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

/*win screen*/
.win {
    background-color: red;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    margin: auto;
}

/*leaderboard*/
.leaderboard {
    text-align: center;
    margin-top: 10px;
}

.openLeaderboard {
    background-color: red;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 1rem;
}